__pycache__/
.idea
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/esphome-opentherm/FileContentIndex/
.vs/esphome-opentherm/FileContentIndex/d95ad0ad-477d-47e8-8258-de9501291118.vsidx
.vs/esphome-opentherm/v17/.wsuo
.vs/esphome-opentherm/v17/Browse.VC.db
.vs/esphome-opentherm/v17/Browse.VC.db-shm
.vs/esphome-opentherm/v17/Browse.VC.db-wal
.vs/esphome-opentherm/v17/Browse.VC.opendb
.vs/esphome-opentherm/v17/DocumentLayout.json
.vs/esphome-opentherm/FileContentIndex/54acd9ad-8a31-456e-81d8-b8fbb3c96561.vsidx
